@page "/"
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage

<PageTitle>Dashboard</PageTitle>

<div class="alert alert-dark">
    <h4>Stats... Coming Soon!</h4>
</div>



<PreviousScorecards />

@*<SurveyPrompt Title="How is Blazor working for you?" />*@

